@model BreadBuilder.ViewModels.RemoveIngredientViewModel
@{
    ViewData["Title"] = "Ingredients";
}

<h2>Ingredients</h2>
<br />

@foreach(var item in Model.Ingredients)
{
    <li>
        <ul>
            @item.Name
            @Html.ActionLink("Delete", "DeleteIngredient", new { id = item.ID })
        </ul>
    </li>
}

<br />

<h2>Measurements</h2>
@foreach(var item in Model.Measurements)
{ 
    <li>
        <ul>
            @item.Value
            @Html.ActionLink("Delete", "DeleteMeasurement", new { id = item.ID })
        </ul>
    </li>
}

<br />

<h2>RecipeItems</h2>
@foreach(var item in Model.RecipeItems)
{ 
    <li>
        <ul>
            @item.RecipeIngredient.Name
            @item.RecipeMeasurement.Value
            @Html.ActionLink("Delete", "DeleteRecipeItem", new { id = item.ID })
        </ul>
    </li>
}

<a asp-controller="Ingredient" asp-action="Index">Index</a>