@model BreadBuilder.ViewModels.ViewBreadViewModel

@{
    ViewData["Title"] = "ViewBread";
}

<h2>@Model.Bread.Name</h2>
<hr />
<br/>
<h5>Hydration: @Model.Hydration %</h5>

<div>
    <button value="Ounces" id="@Model.Bread.ID" asp-for>Ounces</button>       <button value="Grams" id="@Model.Bread.ID">Grams</button>       <button value="Volume">Volume</button>
</div>
<h3><b>Ingredients</b></h3>
<hr />
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Unit</th>
    </tr>
  @foreach(var item in Model.Items)
   {
    
      <tr>
          
              
                  <td>@item.RecipeIngredient.Name</td>

                  <td>@item.RecipeMeasurement.Value</td>

                  <td>@item.RecipeMeasurement.Unit</td>
              
          
     </tr>

   }
    
</table>
<hr />

<h3><b>Instructions</b></h3>
<p>@Model.Bread.Instructions</p>

<div>
    @Html.ActionLink("Edit", "EditBread", new { id = Model.Bread.ID  }) |
    <a asp-action="Index">Back to List</a>
</div>
